<h2>Friend</h2>
<head>
  <title>Table</title>>
</head>
<body>
  <h3>My Friend list</h3>
  <table border="1" width="500">
    <tr>
      <th>First-name</th>
      <th>Last-name</th>
      <th>Nick-name</th>
      <th>GitHub Pages</th>
    </tr>
    <tr>
      <th>First1</th>
      <th>Last1</th>
      <th>Nick1</th>
      <th><a href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-nirutt123/">Lab02</a>
        <a href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-nirutt123/">Lab03</a>
        <a href="#">Lab04</a>
      </th>
    </tr>
    <tr>
      <th>First2</th>
      <th>Last2</th>
      <th>Nick2</th>
      <th><a href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-nirutt123/">Lab02</a>
        <a href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-nirutt123/">Lab03</a>
        <a href="#">Lab04</a>
      </th>
    </tr>
  </table>
</body>

