<h2>My Profile</h2>

<h3>Basic Information</h3>
<ul>
  <li>Name: Nirut Kraisri</li>
  <li>Gender: Male</li>
  <li>Age: 20</li>
</ul>

<h3>Autobiography</h3>
<p>I was born on a cold, rainy day in October 29 in Chiang Rai, Thailand. I living in Chiang Mai, Thailand,</p>


<h3>Github Pages</h3>
<a href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-nirutt123/">Lab02</a>
<a href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-nirutt123/">Lab03</a>
<a href="#">Lab04</a>
